
/************ DEBUT CSS loader ***********/
body #ajax-loader #Contenue_loadear
{
	display: inline-block;
	text-align:center;
	width:100px;
	background:#FFF;
	border-radius:0 0 4px 4px;	-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;
	font-size:12px;
}
body #ajax-loader #Contenue_loadear img
body #ajax-loader #Contenue_loadear img
{
	margin:0 0 0 7px;
}
body #ajax-loader
{
	position:fixed;
	text-align:center;
	display:block;
	width:100%;
	margin:auto auto auto auto;
	top:0px;
	z-index:80000;
}


/************ FIN  CSS loader ************/
.container
{
	width: auto;
	padding: 0 0 0 0;
	margin: auto auto auto auto;
	overflow-y: auto;
}
/************ DEBUT CSS DEBUT PAGE ************/

#Entete_page
{
	background: #326295;
	position: fixed;
	width: 100%;
	z-index: 500;
	min-height:50px;
	margin: auto auto auto auto;
}
#Entete_page #EnteteMenue
{
	position: relative;
	margin-bottom:0px;
	background: none;
	border-color: transparent;
}
#Entete_page #EnteteMenue a
{
	color:#ccc;
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
}
#Panelmenue
{
	padding-left: 0;
}
#Panelmenue .navbar-header
{
	padding-left: 15px;
}
#Panelmenue .navbar-toggle
{
	margin-right:auto ;
}

#Panelmenue  #panelFB,
#Panelmenue #panelIn
{
	height: 50px;
}

#Panelmenue  #FB_menue,
#Panelmenue #IN_menue
{
	color: #fff;
	height: 27px;
	width: 27px;
	display: inline-block;
	position: relative;
	top: -4px;
	left: -10px;
}
#Panelmenue  #FB_menue
{
	background: url("../../assets/images/spritesheet.png") no-repeat center -7px;
	background-position: -209px -64px;
}
#Panelmenue #IN_menue
{
	background:url("../../assets/images/spritesheet.png") no-repeat center -7px;
	background-position: -90px -166px;
}
#Panelmenue #menueDroite li {

	height: 37px;
	width:37px;
}
#Panelmenue #myNavbar ul li a.active,
#Panelmenue .navbar-header .active
{
	background: #07273D;
	opacity: 0.7;
}
#Panelmenue  #myNavbar ul li,#Panelmenue .navbar-header
{
	border-right: 1px solid rgba(0,0,0,.2);
	-webkit-transform: skew(-19deg);
	-moz-transform: skew(-19deg);
	-o-transform: skew(-19deg);

}

#mobilSysmenue #textMobilesys,#Panelmenue  #myNavbar ul li a .labelmenue
{
	-webkit-transform: skew(19deg);
	-moz-transform: skew(10deg);
	-o-transform: skew(19deg);

}
#mobilSysmenue,#Panelmenue  #myNavbar ul li a
{
	background: rgb(0,159,227);
}

@media (max-width:  768px)
{
	#Panelmenue  #myNavbar ul li,#Panelmenue .navbar-header
	{
		border:0px;
	}
	#Panelmenue .navbar-header .active
	{
		background: none;
		opacity: 1;
	}
	#mobilSysmenue, #Panelmenue #myNavbar ul li a
	{
		background: none;
	}
	#myNavbar .navbar-nav
	{
		margin: 9px 0 9px 0;
	}
}

@media (min-width:  768px)
{
	#Panelmenue .navbar-header .active,
	#Panelmenue #myNavbar ul li a.active
	{
		border-bottom: 2px solid #2BBA88;
	}
}



/************ FIN CSS DEBUT PAGE ************/
/* CSS BODY PAGE*/
#BodyPanel
{
	width: 100%;
	z-index: 300;
	margin: auto auto auto auto;
	margin-top: auto;
	height: auto;
	position: relative;
	margin-top: 50px;
	overflow: hidden;
	background:#fff url("../../assets/images/actufonecran2.jpg") no-repeat 0px -211px;
	background-size: auto 485px;
}
#BodyPanel #body_pageCenter
{
	padding-left: 17px;
	padding-right: 17px;
}
#body_pageCenter
{
	 padding: 50px 10px 25px 10px ;
}
#body_pageCenter  #Paneltitre #TitrePAge
{
	font-size: 35px;
	display: block;
	padding-bottom: 5px;
	color: #07273D;
	margin-bottom: 25px;
	text-align: center;
	margin-top:33px;
}
#body_pageCenter #Paneltitre
{
	background: #fff;
	height: 150px;
	margin-top: 74px;
	margin-left: 0;
	margin-right: 0;
}
#body_pageCenter #Paneltitre::after
{
	content: '';
	display: block;
	width: 30px;
	height: 4px;
	background: #2BBA88;
	margin: 43px auto 37px;
}
#body_pageCenter #PanelPAge
{
	margin-top:28px;
	margin-right: 0;
	margin-left: 0;
}

#body_pageCenter  .sousTitrepage
{
	font-size: 20px;
	font-weight: bold;
	color: #07273D;
	float: left;
	margin-right: 23px;
	font-family: "Tungsten Bold",Impact,Charcoal,sans-serif;
}
#body_pageCenter .lineTitrepage
{
	content: '';
	border-bottom: 4px solid;
	overflow: hidden;
	margin-left: 15px;
	margin-top: -5px;

}
#body_pageCenter .detailllepage
{
	font-size: 12px;
	text-align: justify;
}


/*************** DEBUT CSS Accueil ******************/
#panelslideServiceccueil
{
	display: none;
}
#slideServicepageAccueil .item
{
	height: 100%;
}
#slideServicepageAccueil .item .row
{
	height: 100%
}
#slideServicepageAccueil .item .slide-listPanelimg
{
	height: 100%;
	-webkit-transform: skew(-19deg);
	-moz-transform: skew(-19deg);
	-o-transform: skew(-19deg);
	margin-left: 0;
	margin-right: 0
	/*
	-webkit-transform: skew(-25deg);
	-moz-transform: skew(-25deg);
	-o-transform: skew(-25deg);*/

}
#slideServicepageAccueil
{
	background: blue;
	height: 274px;
}
#accueilPage .panel-separation
{
 	margin-top: 20px;
}
/*************** DEBUT CSS Accueil ******************/
#slide-DernierRealisation .item
{
	margin-left:5px;
	margin-right:5px;
}
#slide-DernierRealisation .panellist-image
{

	padding-left: 0px;
	padding-right: 0px;
	background: #ccc;
	margin-right: 4px;
	margin-left: 4px;
	width: 24%;
}
/*
#slide-DernierRealisation .item .row:first-child
{
	margin-left:0px;
}*/
#slide-DernierRealisation .panellist-image img
{
	width: 100%;
	height: 230px;
}

#slide-DernierRealisation .commentaire
{
	font-weight: bold;
	font-size: 14;
	margin:8px auto 8px 10px ;
	display: block;
	color: #152834;
}
#slide-DernierRealisation .savoir_plus
{
	color: #fff;
	font-size: 13px;
	margin-bottom: 20px;
	margin-left: 10px;
}
#myCarousel  .carousel-control
{
	width: 8%;
}

#myCarousel  a.carousel-control:hover
{
	background-color: rgba(0,0,0,0.4);
}
#myCarousel .pagination li
{
	border: 1px solid #152834;
}
#myCarousel .pagination li.active
{
	background: #152834;
}
#myCarousel .pagination
{
	margin-bottom:-53px;
}

/*************** DEBUT  CSS Services ****************/
#servicesPage .listservice .imagesServices img
{
	width: 100%;
	width: 100%;
}
#servicesPage .listservice
{
	margin-top: 30px;
	margin-bottom: 30px;
}


#servicesPage .listservice .detailleServices
{
	font-size: 14px;
}
#servicesPage .listservice .panelImagesappServ
{
	margin-top: 25px;
}
#servicesPage .listservice .panelImagesappServ .panelcontour
{
	background: #fff none repeat scroll 0 0;
	border: 3px solid #f6f6f6;
	border-radius: 50%;
}
#servicesPage .listservice .appDev
{
	cursor: pointer;
}
#servicesPage
{
margin-right: 30px;
margin-left: 30px;
margin-top: 20px;
}
#infoServices
{
	top:30%
}
#infoServices .modal-title
{
	text-align: center;

}
#infoServices .modal-body
{
	margin-top: 5px;
	margin-bottom: 30px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: justify;
}
#infoServices .modal-content
{

	border: 1px solid #326295;
	box-shadow: 0 0 15px #326295;
}
/*************** FIN CSS Services ****************/



/************** CSS Realisation ****************/
#accueilPage,
#realisationPage
{
	margin-right: 30px;
	margin-left: 30px;
	margin-top: -14px;
}
#realisationPage #titreRealisation label
{
	max-width: 550px;
}
#realisationPage #titreRealisation
{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #07273D;
	margin-bottom: 40px;
}
#realisationPage  .panel-titreServ
{
	margin-bottom: 20px;
}

#realisationPage .realisation-list
{


}
#realisationPage .realisation-list .panel
{
	width: 100%;
	height: 100%;
	margin: 0 0 11px 0;
	border-radius: 5px;
	border: 3px solid #f6f6f6;
	border-radius:5px;
	cursor: pointer;
}
#realisationPage .realisation-list .panel:hover
{
	box-shadow:inset 0 0 1em gold, 0 0 1em #07273D;
}
#realisationPage .realisation-list .panel img
{
	width: 100%;
	height: 100%;
}

/************** Fin CSS Realisation ****************/




/******************* DEBUT PIED PAGE CSS ****************/
#Pied_page
{
	background: #326295;
	margin: auto auto auto auto;
	padding: 23px 0 0 0;
}

#Pied_page .list .panel_ ul li .lblserv
{
	text-decoration: underline;
	clear: both;
	display: block;
	margin-bottom: 2px
}
#Pied_page #lien_piedpage
{
	margin:20px 8px 5px 5px;
}

#Pied_page #droite,#Pied_page #gauche
{
	display:table-cell;;
}
#Pied_page #droite
{
	padding: 0 15px 0 0;
}
#Pied_page #droite .row
{
	margin-left: 0px;
	margin-right: 0px;
	background:#152834;
}
#Pied_page #droite .row .col-sm-2
{
	padding-right: 0;
}
#Pied_page  #panelsaisie_email_reseauxsociaux
{
	margin: auto 2px auto 0;
}

#Pied_page #droite #Emailcct
{
	font-size: 19px;
	width: 100%;
	color: #fff;
	background:#152834;
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	height: 50px;
	border: 0;
	padding-left: 15px;
	text-space: 5px;
}

#Pied_page #droite #enveloppe_email
{
	display: inline-block;
	padding: 10px 0 0 0;
	text-align: center;
}
#Pied_page #droite .glyphicon-envelope
{
	font-size: 30px;
}
#Pied_page #droite #btnOK
{
	height: 50px;
	width: 100%;
	border-radius: 0px;
	background: #1c3646;
	line-height: 50px;
	font-size: 20px;
	text-transform: uppercase;
	font-family: "Tungsten Bold",Impact,Charcoal,sans-serif;
	color: #fff;
	padding: 0 0 0 0;
	font-weight: normal;
}

#Pied_page #gauche .reseaux_sociaux
{
	height: 50px;
	display: inline-block;
}
#Pied_page  #FB_
{
	background: #39569a url("../../assets/images/FB_.png") no-repeat center;
	color:#fff;
}
#Pied_page  #twitter_
{
	background: #14aee8 url("../../assets/images/twitter_.png") no-repeat center;
}
#Pied_page  #gplus_
{
	background: #e04829  url("../../assets/images/gplus_.png") no-repeat center;
}
#Pied_page #youtube_{
	background: #c8362e url("../../assets/images/youtube_.png") no-repeat center;
}
#Pied_page  #copyright
{
	color: #ccc;
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	font-size: 12px;
	border-top: 1px dashed #ccc ;
	padding: 7px 0 10px 0;
	margin: auto 4px auto 4px;
}
#Pied_page  #copyright .col-sm-12
{
	padding-left: 0;
}

#Pied_page .list .panel_
{
	color: #ccc;
	font-size: 13px;
}
#Pied_page .list .panel_ ul
{
	padding: 0 0 0 0;
	list-style: none;
}
#Pied_page .list .panel_ ul#contacts_
{
	line-height: 22.5px
}
#Pied_page #lien_piedpage .list
{
	padding: 0 7px 0 0;
}
#Pied_page #lien_piedpage .list#horaire
{

}
#Pied_page #lien_piedpage .list .lbltitre_
{
	font-size: 16px;
	display: inline-block;
	width: 100%;
	color: #07273D;
	background: #2BBA88;
	border-radius: 4px;
	padding: 5px 0 3px 6px;
	-webkit-transform: skew(-19deg);
	-moz-transform: skew(-19deg);
	-o-transform: skew(-19deg);
}
#Pied_page #lien_piedpage .list .lbltitre_ .paneltitrelbl
{
	-webkit-transform: skew(19deg);
	-moz-transform: skew(19deg);
	-o-transform: skew(19deg);
	padding-left: 10px;
}


#Pied_page #lien_piedpage #droite
{
	background: none;
}
#Pied_page #lien_piedpage #contacte_
{
	padding: 0 0 0 7px;
}
#Pied_page #lien_piedpage #srvhoraire
{
	line-height: 22.5px;
}
#Pied_page #lien_piedpage #gauche.offre
{
	padding: 0 0 0 0;
}
#Pied_page #lien_piedpage #gauche.offre .list
{
	padding: 0 0 0 0;

}
#Pied_page #lien_piedpage #gauche.offre .list .panel_ ul li
{
	line-height: 22.5px;
}
#Pied_page #lien_piedpage a
{
	color: #ccc;
}


@media (max-width:  768px) {

	#Pied_page #lien_piedpage
	{
    	margin: 20px 6.5px 20px 6.5px!important;
	}

	#Pied_page #lien_piedpage .list 
	{
		padding: 0 0 0 0;
	}
	#Pied_page #lien_piedpage 
	{
		margin: 20px auto 20px auto;
	}
	#Pied_page #copyright
	{
		margin: auto 20px auto 0;
	}
	#Pied_page #droite 
	{
		background: #152834;
		padding: 0 0 0 0;
	}
	#Pied_page #panelINFOMsgcontact 
	{
		display: none;
	}
}

#Msgbox_nouscantacter .modal-content,
#Info_mobileSys .modal-content
{
	background:#152834;
}
#Msgbox_nouscantacter #panelINFOMsgcontact
{
	display: none;
}
#Msgbox_nouscantacter .modal-title,
#Info_mobileSys .modal-title
{
	color: #fff;
}
#Info_mobileSys .modal-body
{
	color: #fff;
}
.modal-backdrop.fade.in
{
	background: #326295;
	opacity: 0.5;
}
#Msgbox_nouscantacter #INFOMsgcontact
{
   color: red;
}

/*
#toTop
{
	float: right;
	position: fixed;
	bottom: 0px;
	right: 15px;
	z-index: 999;
}*/

/******************* FIN PIED PAGE CSS ****************/



@media screen
{
	.Mobile
	{
		display:none;
	}
}
@media handheld
{
	.PC
	{
		display:none;
	}
}




/****************** DEBUT CSS contact **********************/
#PanelContactDroite,#PanelContactGauche
{
	background: #326295;
	display: block;
	padding: 30px 20px 15px 20px ;
	height: 100%;
}
#PanelContactGauche
{
	background: none;
	padding:0 0 15px 0 ;
}
#PanelContactGauche #Pays
{
	font-weight: bold;
	text-transform: uppercase;
	color: #092b62;
	font-size: 17px;
}
#PanelContactGauche #adress,
#PanelContactGauche .contact
{
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 4px 0;
}

#PanelContactDroite #lblLaissermsg,
#PanelContactDroite #lblchampOblig
{
	display: block;
}

#PanelContactDroite #lblLaissermsg
{
	font-size: 17px;
	text-align: center;
	color: #fff;
	text-transform: uppercase
}
#PanelContactDroite #lblchampOblig
{
	text-align: right;
	font-size: 14px;
	color: #07273D;
	padding: 7px 0 0 0;
}

#carteGeolocalisation iframe
{
	width: 100%;
	border: 0px;
	height: 500px;
	min-height: 200px
}
@media (max-width:  1042px)
{
	#PanelPAge .conteneurContact
	{
		clear: both;
		width:100%;
	}
}
/****************** FIN CSS contact **********************/