@charset "utf-8";
@font-face {
    font-family: myFontLobster;    
	src: url('../../assets/css/fonts/Lobster.eot'); /* IE9 Compat Modes */
  	src: url('../../assets/css/fonts/Lobster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../assets/css/fonts/Lobster.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../assets/css/fonts/Lobster.woff') format('woff'), /* Pretty Modern Browsers */
		url('../../assets/css/fonts/Lobster.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../../assets/css/fonts/Lobster.svg#svgFontName') format('svg'); /* Legacy iOS */

}
h1,h2,h3{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;		
}
span{
	vertical-align: middle;
}
body{
	margin:0;
	padding:0;
	top:0;
	left:0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	background:url(../images/gb.jpg) no-repeat top;
}
#all{
	width:100%;
}
#header{
	width:100%;
	height:auto;
	background:transparent;
	float:left;
}
#menubar{
	width:auto;
	height:auto;
	/*background:#ff4701;*/
	/*border-top:#0f194a solid 5px;*/
	float:right;
}
#panheader{
	width:953px;
	height:auto;
	margin:0 auto;
}
#logo{
	float:left;
	width:auto;
	margin-top: 10px;
}
#logo p{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	font-size:12px;	
	margin-top:5px;
}
#logo  a {
	color:#0f194a;
	text-decoration:none;
}
#resteheader{
	width:760px;
	float:right;
	height:auto;
	margin-top:40px;
}
#rhtop,
#rhbottom{
	width:auto;
	float:right;
	clear:both;
	/*position:relative;*/
}
.picto-cell,
.picto-phone,
.picto-users{
	display: inline-block;
    vertical-align: middle;
    /*padding: 5px 10px 5px 5px;*/
	width:38px;
	height:40px;
}
.picto-phone{
	background:url(../images/ico-phone.png);	
}
.picto-cell{
	background:url(../images/ico-cell.png);	
}
.picto-users{
	background:url(../images/icone-cnx.png);	
}
.txtphone{
	display: inline-block;
    vertical-align: middle;
	padding: 6px 1px 5px 0px;
	color:#0f194a;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;	
}
.small-text{
	font-size:10px;
	/*clear:both;*/
	color:#000;
	margin-top: -3px;
    float: left;
}
a{
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}
#rhbottom a{
	background:#ff4701;
	padding:5px 20px;
	color:#fff;
	text-decoration:none;
	margin-top: 10px;
    display: block;
	border-radius:10px 0 10px 0;
	
}
#rhbottom a:hover{
	background:#0f194a;
}
#menu{
	width:auto;
	height:auto;
	margin:0 auto;
}
ul{
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#menu ul li{
	display:inline-block;
}
#menu ul li a{
	color:#0f194a;
	text-decoration:none;
	display:block;
	padding:0 10px;
	font-weight: 700;
}
#menu ul li a:hover,
#menu ul li.active a{
	color:#ff4701;
}
@-webkit-keyframes animate_background { 
    from { 
        background-position: 0 0;
    } 
    to { 
        background-position: 0 -150px;
    } 
}
@-moz-keyframes animate_background { 
    from { 
        background-position: 0 0;
    } 
    to { 
        background-position: 0 -150px;
    } 
}
@-o-keyframes animate_background { 
    from { 
        background-position: 0 0;
    } 
    to { 
        background-position: 0 -150px;
    } 
}
@keyframes animate_background { 
    from { 
        background-position: 0 0;
    } 
    to { 
        background-position: 0 -150px;
    } 
}
#banner{
	width:100%;
	height:420px;
	/*background-image:url(../../assets/images/bgbanner.jpg);*/
	/*background-position:0 -150px;
	-webkit-animation: animate_background 5s linear 0s;
    -moz-animation: animate_background 5s linear 0s;
    -o-animation: animate_background 5s linear 0s;
    animation: animate_background 5s linear 0s;*/
	/*background-size: cover;*/
}
#banner-content{
	width:953px;
	height:420px;
	margin:0 auto;
	/*border:#000 solid 1px;*/
}
#banner-content #reservation{
	width:445px;
	height:378px;
	background:rgba(255,255,255,0.5);
	border-radius:5px;
	margin-top:22px;
	display:block;
	float:left;
}
#reservation h1{
	color:#0f194a;
	text-align:center;
	margin:10px 0;
	font-size: 180%;
}
#reservation #ligne{
	width:100%;
	margin-top:5px;
	float:left;
}
#reservation #lignehalf{
	width:45%;
	margin-top:5px;
	float:left;
}
#boxres{
	width:90%;
	margin:0 auto;
	height:auto;
}
span.label-span{
	display: inline-block;
    vertical-align: middle;
	color:#0f194a;
	float:left;
	font-size:12px;
}
.champs,
.champshalf{
	border:#808080 solid 1px;
	border-radius:5px;
	background-color:#fff;
	width:100%;
	float:left;
	height:30px;
	margin-top:5px;
}
.map{
	background:url(../images/map.png) no-repeat left #fff;
}
.champs input,
.champshalf input,
.champshalf select,
.champs select{
	border:none;
	width:89%;
	padding:4px;
	margin-left:40px;
	margin-top:2px;
	font-family:"Open Sans", sans-serif;
}
.champshalf input,
.champshalf select{
	width:70%;
}
/*.champshalf select,
.champs select{
	padding:5px;
}*/
.date{
	background:url(../images/date.png) no-repeat left #fff;
}
.heure{
	background:url(../images/heure.png) no-repeat left #fff;
}
.droite{
	float:right !important;
}
.gauche{
	float:left !important;
}
.btnorange{
	width:100%;
	height:26px;
	background:#ff4701;
	margin-top:10px;
	border-radius:5px;
}
.btnorange a{
	color:#fff;
	font-size:14px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	display:block;
	text-decoration:none;
	padding: 7px 0 0 0;
	text-align:center;
	background: none !important;
	margin-top:0 !important;
} 
#ligne .btnorange{
	height:46px !important;
}
#ligne .btnorange a{
	font-size:20px;
	padding: 10px 0 0 0;
}
#slogan{
	width:495px;
	height:auto;
	float:right;
	margin-top: 22px;
	margin:10px 0;
}
#slogan h1{
	color:#0f194a;
	margin: 10px 0;
}
#slogan ul li{
	margin:0 0 5px 0;
	padding-left:32px;
	background:url(../images/li.png) no-repeat left;
	color:#0f194a;
	font-size:14px;
}
#box h1{
	color:#ff4701;
	text-align:center;
	margin:10px 0;
    font-size: 120%;
}
#cnx{
	width:70%;
	height:auto;
	margin:0px auto;
}
#lignecnx{
	width:100%;
	height:26px;
	float:left;
	margin-top:10px;
	border:#808080 solid 1px;
}
.login{
	background-image:url(../images/user.png);
	background-repeat:no-repeat;
	background-position:left center;
}
.password{
	background-image:url(../images/passw.png);
	background-repeat:no-repeat;
	background-position:left center;
}
.mail{
	background-image:url(../images/mail.png);
	background-repeat:no-repeat;
	background-position:left center;
}
.home{
	background-image:url(../images/home.png);
	background-repeat:no-repeat;
	background-position:left center;
}
.subject{
	background-image:url(../images/subject.png);
	background-repeat:no-repeat;
	background-position:left center;
}
.phone{
	background-image:url(../images/clavier.png);
	background-position:5px 7px;
	background-repeat:no-repeat;	
}
.ico-call-green{
	background:url(../images/call.png) no-repeat left;
	width:64px;
	height:64px;
	vertical-align:middle;	
	display: block;
	margin: 0 auto;
	cursor:pointer;
}
.ico-ok{
	background:url(../images/ok.png) no-repeat left;
	width:64px;
	height:64px;
	vertical-align:middle;	
	display: block;
	margin: 0 auto;
	cursor:pointer;
}
.message{
	background:url(../images/message.png) no-repeat left top;
}
#lignecnx input{
	width:80%;
	margin: 0px 0 0 32px;
    padding: 5px 0;
	border:none;
} 
#cnx .btnorange,
.otherhelp{
	float:left;
	/*margin-top:20px !important;*/
}

.otherhelp li a{
	color:#ff4701 !important;
	text-decoration:none;
	background: none !important;
	font-size:12px !important;
	margin-top: 5px !important;
    padding: 0 !important;
}
.otherhelp li a:hover{
	color:#0f194a !important;
}
#panelcnx{
	width:400px;
	min-height:200px;
	position:absolute;
	background:#fff;
	z-index:100;
	margin-left: -340px;
	margin-top: 10px;
	box-shadow: 0px 0px 15px #3a3a3a;
	display:none;
	padding-bottom:10px;
}
#corps{
	width:100%;
	height:auto;
	float:left;
	/*border:#3C002F solid 1px;*/
}
.orange{
	background:#ff4701;
}
#corps_content,
#slidercontent{
	width:953px;
	height:auto;
	margin:0 auto;
}
#vote{
	width:100%;
	height:131px;
	float:left;
	border:#e5dbc6 solid 1px;
	margin:39px 0;
}
#vote #gauche{
	width:54%;
	float:left;
	margin-left:20px;
	background:url(../images/bgvote.png) no-repeat;
	height:131px;
	background-position: 100% 6px;
}
#vote #gauche h1{
	color:#0f194a;
	margin:10px 0 10px 0;
	font-size:170%;
}
#vote #gauche li{
	color:#514947;
}
#vote #droite{
	width:43%;
	float:left;
	height:131px;
	/*border:#0B0B0B solid 1px;*/
}
#btnvote{
	width:274px;
	height:44px;
	margin: 42px auto;	
}
#btnvote a{
	background-image:url(../images/icovote.jpg);
	background-repeat:no-repeat;
	background-position:left;
	background-color:#2d4180;
	color:#FFFFFF;
	text-decoration:none;
	padding: 12px 24px 12px 76px;
	display: block;
	/*margin:42px auto;*/
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
#btnvote a:hover{
	-moz-box-shadow:    inset 0 0 30px #0f194a;
   	-webkit-box-shadow: inset 0 0 30px #0f194a;
   	box-shadow:         inset 0 0 30px #0f194a;
   	color:#ff4701;
}
#blocks{
	width:100%;
	float:left;
	height:auto;
	margin:0 0 12px 0;
}
#blocks #block{
	width:303px;
	height:193px;
	/*background-color:#3a3a3a;*/
	border-radius:15px 0;
	float:left;
	margin-right:21px;
	overflow:hidden;
}
#blocks #block.droite{
	margin:0;
}
.bloc{
	background-image:url(../images/block1.jpg);
	width:100%;
	height:100%;
}
#barre{
	width:100%;
	height:53px;
	background:rgba(255,255,255,0.5);
	margin-top: 120px;
}
span.ico-voiture{
	display: inline-block;
    vertical-align: middle;
	width:79px;
	height:30px;
	background:url(../images/ico-voiture.png);
	margin: 10px 23px 0 20px;
}
span.txt-orange{
	display: inline-block;
    vertical-align: middle;
	color:#ff4701;
}
span.txt2{
	font-family: 'Montserrat', sans-serif;
	font-size:700;
	clear:both;
	font-size:20px;
}
.bgbleu{
	background-color:#2d4180;
}
.bgorange{
	background-color:#ff4701;
	background-image:url(../images/clef.png);
	background-repeat:no-repeat;
}
#block h3{
	color:#fff;
	text-align:center;
	margin:10px 0;
	font-size:1.6em;
}
#block ul{
	margin-left:10px;
}
#block li{
	background:url(../images/p_li.png) no-repeat left;
	padding:7px 0 7px 32px;
	color:#fff;
	font-size:14px;
}
#imagevoiture{
	margin-top:-30px;
}
#zonetexte{
	width:100%;
	float:left;
	height:auto;
}
#zonetexte h1{
	font-size:200%;
	color:#ff4701;
	text-align:center;
	text-transform:uppercase;
	margin: 10px 0;
}
#zonetexte h3,
#slidering h3{	
	color:#ff4701;
	text-align:center;
	text-transform:uppercase;
	margin: 10px 0;
}
#slidering h3{
	margin-bottom:30px;
}
#zonetexte h4{
	color:#0f194a;
	font-weight:bold;
	text-align:center;
}
center span,
#custom #content p{
	color:#000;
	font-size:14px;
}
#custom #content p{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	text-align:justify;
}
#custom{
	width:100%;
	height:auto;
	float:left;
	margin:20px 0;
}
#custom #content{
	width:50%;
	float:left;
}
#custom #content h3{
	color:#ff4701;
	margin:0;
}
#custom .droite{
	text-align:right;
}
.grid{
	width:100%;
	float:left;
	height:auto;
	margin-top:20px;
}
.grid #cols{
	width:32%;
	height:auto;
	float:left;
	text-align:center;
	margin-bottom:30px;
	/*background:#ccc;*/
}
.grid #cols a{
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
}
.grid #cols a img{
	width:100%;
}
.grid #cols a span{
	width:100%;
	color:#0f194a;
	font-weight:700;
	text-align:center;
	display:block;
	
}
.grid #cols p{
	text-align:justify;
	font-size:14px;
	font-weight:200;
}
.grid #cols h3{
	text-align:center;
	font-size:150%;
}
.grid #cols h3,
.grid #cols p{
	color:#fff;
}
.bot{
	margin:0 10px 30px 0;
}
.bot.last{
	margin:0 !important;
}
#slidering{
	width:100%;
	height:auto;
	background:transparent;
	float:left;
	margin:30px 0;
	/*padding-bottom: 39px;*/
}
.item{
	width:100%;
	height:auto;
	/*background:#3e3e3e;*/
	text-align:center;
}
.item h3{
	color:#ff4701;
	text-align:center;
	margin:0;
	font-size:100%;
}
.item h3 a{
	color:#ff4701;
	text-decoration:none;
}
.item h2{
	color:#ff4701;
	text-align:center;
	margin:10px 0;
	/*font-size:100%;*/
}
.btnbleu{
	color:#0f194a;
	text-align:center;
	padding:5px 10px;
	background:#6990c4;
	display:block;
	margin: 20px auto;
	width:100px;
	/*float:left;*/
	border-radius:5px;
	text-decoration:none;
	
}
.btnbleu:hover{
	color:#fff;
}
.btnreserver{
	text-align:center;
	display:block;
	font-family: 'Open Sans', sans-serif;
	color:#ff4701;
	font-size:16px;
	text-transform:uppercase;
	width:100px;
	/*float:left;*/
	text-decoration:none;
	margin: 20px auto;
	padding:5px 10px;
	border:#ff4701 solid 1px;
    /*width: 100%;*/
}
.btnreserver:hover{
	color:#0f194a;
	border:#0f194a solid 1px;
}
.large{
	width:100% !important;
}
#footer{
	width:100%;
	height:auto;
	min-height:214px;
	background:#0f194a;
	float:left;
}
#footer #corps_content > div{
	/*width:33%;*/
	float:left;
}
#logo_bottom{
	margin-top:61px;
	float:left;
	width:240px;
}
#logo_bottom span{
	color:#fff;
	font-size:12px;
}
#menu_bottom{
	float:left;
	width:222px;
}
#menu_bottom ul{
	margin-top:15px;
}
#menu_bottom ul li{
	display:table-row;
	
}
#menu_bottom ul li a{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	display: block;
    padding: 0 0 20px 0;
}
#menu_bottom ul li a:hover,
#menu_bottom ul li.active a{
	color:#ff4701;
}
#coords{
	color:#fff;
	width:489px;
	background:url(../images/bgcoords.png) no-repeat right center;
}

#coords h3,
#menu_bottom h3{
	color:#fff;
}
#coords p{
	float:left;
	display:block;
	width:100%;
}
#coords p.c1,
#zonetexte p.c1{
	font-size:14px;	
	font-family: 'Open Sans', sans-serif;
}
#coords p.c2,
#zonetexte p.c2{
	font-size:14px;
	margin:10px 0 0 0;
	font-family: 'Open Sans', sans-serif;
}
#coords p.c3{
	margin-bottom:10px !important;
	display:block;
}
#coords p.c3,
#zonetexte p.c3{
	font-size:18px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	margin: 0;
}
#coords p.c3 a{
	text-decoration:none;
	color:#fff;
}
#zonetexte p.c3 a{
	color:#0f194a;
	text-decoration:none;
}
.fltr{
	display: inline-block;
    vertical-align: middle;
	margin:12px 56px 0 12px;
	color:#3e3e3e;
	float:left;
}
.ico-fb,
.ico-gplus,
.ico-linkedin{
	display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
	background:#fff;
	margin-right:2px;
	border-radius:100%;
	margin-bottom:10px;
}
.ico-fb{
	background-color:#5b75a0;
	background-image:url(../images/fb.png);
}
.ico-gplus{
	background-color:#e3564c;
	background-image:url(../images/gplus.png);
}
.ico-linkedin{
	background-color:#39a9dc;
	background-image:url(../images/linkdin.png);
	background-position:center center;
}
#bottom{
	width:100%;
	height:40px;
	float:left;
	background:#ff4701;
}
.txtbottom{
	display: inline-block;
    vertical-align: middle;
	color:#fff;
	font-size:12px;
	margin-top: 11px;
	font-family: 'Open Sans', sans-serif;
}
#mnuBottom,
#txtbottom{
	float:left;
	margin-right:10px;
}
#mnuBottom ul li{
	display:inline-block;
}
#mnuBottom ul li a{
	color:#fff;
	font-size:12px;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
}
#mnuBottom ul li a:hover,
#mnuBottom ul li.active a{
	color:#0f194a;
}
.ico-globe{
	background:url(../images/ico-globe.png) no-repeat left;
	padding:5px 0 5px 32px;
	color:#0f194a;
	text-decoration:none;
}
#barre_recherche{
	width:100%;
	height:122px;
	background:transparent;
	float:left;
}
#panelsearch{
	width:100%;
	height:122px;
	float:left;
	/*border:#000 solid 1px;*/
}
#pan_gauche,
#pan_droite{	
	float:left;
	height:auto;
	margin-top: 20px;
}
#pan_gauche{
	width:80%;
}
#pan_droite{
	width:20%;
}
#pan_ligne{
	width:100%;
	height:auto;
	float:left;
	margin-bottom:5px;
}
.pan_champ{
	border:#808080 solid 1px;
	border-radius:5px;
	background:#fff;
	width:32%;
	float:left;
	height:30px;
	margin-top:5px;
	margin-right: 5px;
}
.pan_champ.map{
	background:url(../images/map.png) no-repeat right #fff;
}
.pan_champ.date{
	background:url(../images/date.png) no-repeat right #fff;
}
.pan_champ.heure{
	background:url(../images/heure.png) no-repeat right #fff;
}
.pan_champ input,
.pan_champ select{
	border:none;
	width:80%;
	padding:4px 0 4px 10px;
	margin-left:5px;
	margin-top:2px;
	color:#0f194a;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}
.btnSearch{
	background:#ff4701;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	width:100%;
	height:72px;
	text-align:center;
	font-size:150%;
	border:none;
	border-radius:10px;
	color:#fff;
	margin-top: 5px;
	cursor:pointer;
}
.btnSearch-orange{
	background:#ff4701;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	width:100%;
	height:auto;
	text-align:center;
	font-size:100%;
	border:none;
	border-radius:10px;
	color:#fff;
	margin-top: 5px;
	cursor:pointer;
	display:block;
	text-decoration:none;
	padding:5px 0;
}
.btnSearch-blue{
	background:#0f194a;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	width:100%;
	height:auto;
	text-align:center;
	font-size:100%;
	border:none;
	border-radius:10px;
	color:#fff;
	margin-top: 10px;
	cursor:pointer;
	display:block;
	text-decoration:none;
	padding:5px 0;
}
#slidetexte{
	width:100%;
	height:234px;
	background:#fff;
	float:left;
	margin:29px 0;
}
.vert{
	font-family:myFontLobster, arial;
	color:#3a7307;
	font-size:120%;
}
.item p{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	text-align:justify;
	padding:0 50px;	
}
.soustitre{
	color:#3e3e3e;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
}
#modblock{
	width:100%;
	height:auto;
	float:left;
	/*margin-top:10px;*/
	background:#fff;
}
.border-grey{
	border:#d4d4d4 solid 1px;
	min-height:40px;
	margin-bottom:10px;
}
.border-bottom-grey{
	background:#e6e6e6;
	min-height:40px;
	/*margin:20px 0;*/
}
.block{
	width:100%;
	min-height:188px;
	float:left;
	margin:20px 0;
}
#imgblock{
	width:20%;
	height:128px;
	float:left;
	margin-right:10px;
}
#txtblock{
	width:75%;
	float:left;
	height:auto;
	text-align:justify;
}
#txtblock h3{
	color:#ff4701;
	margin:0;
}
#txtblock p{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
}
#boxfltr{
	border:#d4d4d4 solid 1px;
	width:27%;
	height:35px;
	float:left;
	margin:5px;
}
/*#boxfltr:last-child{
	margin-right:0;
}*/
#boxfltr select{
	width:100%;
	display:block;
	border:none;
	font-size:14px;
	margin-top: 7px;
	font-family: 'Open Sans', sans-serif;
}
#imgv,
#descrv{
	height:auto;
	float:left;
	position:relative;
	margin:5px 0 10px 5px;
}
#imgv{
	width:60%;
	position:relative;
}
#modblock #imgv img{
	width:100%;
}
#modblock #imgv img:hover{
	
}

/* animation sur image */
.arround{
	background:#ff4701;
	width:50px;
	height:50px;
	position:absolute;
	border-radius:100%;
	top:50%;
	/*display:none;*/
	opacity:0;
	-webkit-transition: left 1s, transform 1s;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}
.arround.popup{
	/*left:35%;*/
	left:-10%;
	background-image:url(../images/fb_share.png);
	background-repeat:no-repeat;
	background-position:center center;
	
}
.arround.link{
	/*left:45%;*/
	left:100%;
	background:#0f194a;
	background-image:url(../images/load.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.arround.reservation{
	/*left:45%;*/
	left:100%;
	background:#0f194a;
	background-image:url(../images/ico-reserv.png);
	background-repeat:no-repeat;
	background-position:center center;
}
#modblock #imgv .animer:hover img{
	opacity:0.5;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}
#modblock #imgv .animer:hover .arround.popup{
	display:block;
	transform: translate(270px, 0);    
    z-index:4;
	opacity:1;
	/*left:35%;*/
	
}
#modblock #imgv .animer:hover .arround.link{
	display:block;
	transform: translate(-300px, 0);    
    z-index:4;
	opacity:1;
	/*left:35%;*/
	
}
#modblock #imgv .animer:hover .arround.reservation{
	display:block;
	transform: translate(-300px, 0);    
    z-index:4;
	opacity:1;
	/*left:35%;*/
	
}
/*#modblock #imgv .arround:hover{
	border:rgba(0,0,0,0.5) solid 3px;
}*/
/**/
#descrv{
	width:38%;
}
#cat-titre{
	width:auto;
	position:absolute;
}
#cat-titre a{
	color:#0f194a;
	text-decoration:none;
	padding:5px 15px;
	background:#e6e6e6;
	display:block;
}
#cat-titre a:hover{
	background:#0f194a;
	color:#fff;
}
#descrv h3,
#descrv h3 a{
	color:#ff4701;
	border-bottom: #ff4701 solid 1px;
	text-decoration:none;
}
.list-mat li{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	padding:1px 0 5px 26px;
	background-image:url(../images/ico-mat.png);
	background-repeat:no-repeat;
	margin-bottom:5px;
}
.list-mat li.ico-clim{		
	background-position:0px 0px;
}
.list-mat li.ico-place{		
	background-position:0px -33px;
}
.list-mat li.ico-portes{		
	background-position:0px -65px;
}
.list-mat li.ico-permis{		
	background-position:0px -95px;
}
.list-mat li.ico-carbus{		
	background-position:0px -125px;
}
#tarif{
	width:100%;
	height:48px;
	background:#ff4701;
	margin-top:10px;
	text-align:center;
	color:#fff;	
}
#tarif-offre{
	width:100%;
	height:48px;
	/*background:#ff4701;*/
	margin-top:10px;
	/*text-align:center;*/
	color:#ff4701;	
}
#reservation{
	width:100%;
	height:48px;
	background:#2d4180;
	margin-top:10px;
}
.price-big{
	color:#fff;
	font-size:38px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	
}
#tarif-offre .price-big{
	color:#ff4701;
	font-size:38px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	
}
.price-big sup{
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}
.price-big sub{
	font-size:14px;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}
.ico-reserv{
	background-color:#0f194a;
	background-image:url(../images/ico-reserv.png);
	width:61px;
	height:48px;
	float:left;
}
.lien-reserv{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	font-size:15px;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	width:301px;
	text-align:center;
	margin-top:14px;
	float:left;
	text-shadow: 1px 1px 1px #000;
}
a:hover .lien-reserv{
	color:#ff4701;
}
.prix-carte{
	background:#aa3000;
	border-radius:5px;
	padding:5px 20px;
	width:200px;
	height:29px;
}
.prix-carte a{
	color:#fff;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	text-transform:uppercase;
}
.btnloadmore{
	background:#0f194a;
	width:291px;
	height:47px;
	margin:10px auto;
	padding:1px;
}
.btnloadmore a{
	color:#fff;
	background:#0f194a;
	border:#fff solid 1px;
	display:block;
	padding:12px 0;
	text-align:center;
	text-decoration:none;
}
.btnloadmore a:hover{
	color:#0f194a;
	background:#d0d0d0;
	/*border:#0f194a solid 1px;*/
}
#detpan{
	width:100%;
	height:auto;
	float:left;
}
#detpan h1{
	color:#ff4701;
	font-size:150%;
}
.th{
	width:33%;
	float:left;
	margin: 2px 0 2px 2px;
}
#imgv .th{
	width:49%;
}
table th,
.col{
	background:#e6e6e6;
	padding:5px 0;
	color:#0f194a;
	text-align:center;
	font-weight:bold;
}
.elmprix,
.elmprix1{
	padding:15px 0;
	text-align:center;
	font-size:20px;
	color:#ff4701;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}
.elmprix1{	
	font-size:18px;	
}
.cnd-block{
	width:100%;
	min-height:188px;
	float:left;	
	margin-bottom:20px;
}
.cnd-block h3{
	color:#ff4701;
	margin:10px 0;
	font-size: 100%;
}
.cnd-block p{
	font-size:14px;
	color:#000;
	text-align:justify;
	font-family: 'Open Sans', sans-serif;
}
#contact-middle{
	width:50%;
	float:left;
}
#contact-middle #zonetexte h3{
	color:#0f194a;
}
#contact-ligne{
	width:100%;
	height:auto;
	float:left;
	margin-bottom: 10px;
}
.label{
	color:#ff4701;
}
#contact-ligne input,
#contact-ligne textarea,
#contact-ligne select{
    border: none;
    width: 80%;
    padding: 6px 0 6px 10px;
    margin-left: 32px;
    margin-top: 2px;
    color: #0f194a;
    font-family: 'Montserrat', sans-serif;
	font-weight:400;
	/*float:right;*/
}
.contact-btnorange{
	width: 100%;
    height: auto;
    background: #ff4701;
    margin-top: 10px;
    border-radius: 5px 0;
}
.link-send{
	color:#fff;
	font-size:25px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	display:block;
	padding:10px 0;
	text-align:center;
	text-decoration:none;
}
.link-send:hover{
	background:#0f194a;
	border-radius: 5px 0;
}
.rappel{
	float:left;
	margin:10px 0 0 0;
}
.rappel a{
	border-radius:5px;
	/*border:#0f194a solid 1px;*/
	text-align:center;
	display: block;
    padding: 10px;
	color:#0f194a;
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	background:#8080FF;
}
.rappel a:hover{
	background:#0f194a;
	color:#fff;
}
.ico-call{
	background:url(../images/ico-call.png) left no-repeat;
	width:100%;
	height:48px;
	padding: 10px 10px 10px 40px;
	
}
#contact-map{
	background:#e6e6e6;
	float:left;
	width:100%;
	height:auto;
}
#pop-header{
	width:100%;
	height:60px;
	background:#e6e6e6;
	float:left;
	text-align:center;
}
#pop-header h3{
	color:#0f194a;
}
#pop-corps{
	float:left;
	width:100%;
}
#pop-corps #separation{
	width:70%;
	text-align:center;
	margin:10px auto;
}
#pop-corps p{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
}
#separation #contact-ligne{
	padding:5px 0;
}
.call-go{
	width:100%;
	height:64px;
	display:block;
	text-align:center;
	float:left;
}
#all-blog{
	width:100%;
	height:auto;
	float:left;
	min-height:630px;
	/*background-color:#fff;*/	
}
.blog-body{
	background:#e7e7e7;
}
#bgblog{
	background-image:url(../images/bgblog.jpg);
	background-position:top;
	background-size:cover;
	background-repeat:no-repeat;
	background-color:#fff;
	position:absolute;
	z-index:100;
	width:100%;
	height:594px;
}
#blogheader{
	width:100%;
	height:auto;
	float:left;
	/*background:#ff0000;*/
	position:absolute;
	z-index:101;
}
.picto-home-white,
.picto-fb-white,
.picto-gp-white{
	display: inline-block;
    vertical-align: middle;
    /*padding: 5px 10px 5px 5px;*/
	width:31px;
	height:31px;
}
.picto-home-white a{
	background:url(../images/ico-home-white.png) left #0f194a;
	border-radius:100%;	
}
.picto-fb-white a{
	background:url(../images/ico-fb-white.png);
}
.picto-gp-white a{
	background:url(../images/ico-gp-white.png);
}
.blog{
	margin-top:37px;
}
.txtphone a{
	color:#0f194a;
	text-decoration:none;
}
.txtphone a:hover{
	color:#ff4701;
}
.picto-home-white a,
.picto-fb-white a,
.picto-gp-white a{
	display:block;
	width:32px;
	height:31px;	
	background-repeat:no-repeat;
}
.picto-home-white a:hover{
	background-color:#ff4701;
}
#header-blog-titre{
	width:100%;
	height:360px;
	margin:0 auto;
	line-height:360px; /* centrage vertical */
	text-align:center; /* centrage horizontal */
}
#header-blog-titre h1{
	color:#fff;
}
#corps-blog{
	width:953px;
	height:auto;
	float:left;
	background:#fff;
	min-height:200px;
	margin: 0 auto;
	margin-bottom: 30px;
}
#contenu-blog{
	width:98%;
	margin:10px auto;
}
#contenu-blog #barre_recherche #corps_content{
	width:100%;
}
#contenu-blog #barre_recherche #corps_content h3{
	margin:0;
	color:#0f194a;
}
#contenu-blog #barre_recherche{
	background:#fff;
	margin-bottom: 10px;
}
#list-blog{
	width:100%;
	float:left;
	height:auto;
	/*border:#000 solid 1px;*/
	margin-bottom: 20px;
}
.blog-item{
	width:294px;
	height:auto;
	float:left;
	min-height:183px;
	margin:0 23px 10px 0;
	
}
#list-blog > div.last-child{
	margin-right:0 !important;
}
#item-photo{
	width:294px;
	height:183px;
	float:left;
	background:#D6D6D6;
}
.blog-item h3{
	margin:0;	
}
.blog-item h3 a{
	color:#ff4701;
	text-decoration:none;
	font-size:80%;	
}
.blog-item p{
	margin:0;
	font-size:14px;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
}
.blog-item .readmore{
	margin:10px 0;
}
.blog-item .readmore a{
	/*display:block;*/
	padding:5px 10px 5px 28px;
	background-color:#0f194a;
	color:#fff;
	text-decoration:none;
	border-radius:25px;
	float: right;
	background-image:url(../images/r_more.png);
	background-repeat:no-repeat;
	background-position:3px 1px;
}
.blog-item .readmore a:hover{
	background-color:#ff4701;
}
.clr{
	clear:both;
}
.blog-body #contact-ligne{
	background-color:#fff;
	border:none;
	border-radius:0;
}
.blog-body #contact-ligne.black{
	background-color:#000;
}
.btnSendNews{
	background:transparent;
	border:none;
	color:#ff4701 !important;
}
.item-blog #header-blog-titre{
	height:87px;
	line-height:87px; 
}
#item-blog,
#mod-related-item{
	width:100%;
	height:auto;
	float:left;
}
#contenu-item-blog{
	width:98%;
	margin:0 auto;
}
#item-blog #photoblog{
	width:100%;
	height:auto;
	/*background:#c3c3c3;*/
}
#item-blog #photoblog img{
	width:100%;
}
#texteblog{
	width:100%;
	height:auto;
	margin:20px 0;
}
#texteblog h1{
	font-size:150%;
	margin:10px 0;
	color:#0f194a;
	/*margin-left:10px;*/
	text-align:center;
}
.share{
	font-size:12px;
	vertical-align:middle;
	display:inline-block;
	height:48px;
	line-height: 48px;
}
.ico-share-fb,
.ico-share-gp{
	width:48px;
	height:48px;
	display:inline-block;
}
.ico-share-fb a,
.ico-share-gp a{
	width:48px;
	height:48px;	
	display:block;
}
.ico-share-fb a{
	background:url(../images/ico-fb.png) no-repeat;
}
.ico-share-gp a{
	background:url(../images/ico-gp.png) no-repeat;
}
#contenu-item-blog p{
	font-size:14px;
	text-align:justify;
	font-family: 'Open Sans', sans-serif;
}
#mod-related-item h3{
	color:#ff4701;
	margin: 10px 0;
}
#ligne-module{
	width:100%;
	float:left;
	margin:10px 0;
}
#block-module{
	width:295px;
	height:183px;
	float:left;
	background:#c3c3c3;
	margin:0 24px 10px 0;
}
#block-module.last{
	margin-right:0;
}
.fixedHeader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
#banner.page-reservation{
	/*background:#d4d4d4;
	border-bottom: #d4d4d4 solid 1px;*/
	margin-bottom:10px;
	float:left;
}
.page-reservation #slogan h1{
	text-align:center;
	color:#ff4701;
}
.page-reservation #modblock{
	margin:20px 0;
}
.res-breadcrumb{
	margin:20px 0;
}
.res-breadcrumb li{
	display:inline;
	margin:0 20px;
}
.res-breadcrumb li a{
	text-decoration:none;
}
.res-breadcrumb li .rond{
	background:#0f194a;
	padding: 5px 11px;
	border-radius:100%;	
	color:#fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
}
.res-breadcrumb li .rond.active{
	background:#ff4701;	
}
.res-breadcrumb li .libeller{	
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	text-transform:uppercase;
}
#col-1{
	width:33%;
	float:left;
	height:auto;
}
.big-texte{
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	color:#ff4701;
	display:block;
	text-transform:uppercase;
}
.descr-texte.ico-date{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:#3a3a3a;
	display:block;
	background:url(../images/ico-date.png) left no-repeat;
	padding:3px 0 3px 32px;
}
.slidesearch{
	cursor:pointer;
	padding: 10px 0;
	background:#3a3a3a;
	text-align:center;
}
a .big-texte{
	text-decoration:none;
}
.blocksearch{
	display:none;
	background:#3a3a3a;
}
.blocksearch #pan_gauche,
.blocksearch #pan_droite{
	margin-top:0;
}
.spacer{
	margin:10px 0;
	width:100%;
	float:left;
}
.blocksearch #panelsearch{
	background:#3a3a3a;
	height:auto;
}
.blocksearch #pan_gauche{
	margin-left:5px;
}
.blocksearch #pan_droite{
	margin-right:4px;
	width:19%;
}
.blocksearch #pan_droite .btnSearch{
	font-size:145%;
}
.offreprix #imgv{
	width:40%;
}
.offreprix #descrv{
	width:57%;
}
.offreprix #imgv img{
	width:70%;
}
.offreprix #imgv h3{
	color:#ff4701;
}
#descrv #col-1{
	width:100%;
	margin:0 0 20px 0;
}
#descrv .big-texte{
	font-size:14px;
	color:#3a3a3a;
}
#descrv #col-2 .big-texte{
	/*font-size:13px;*/
	text-transform: none;
}
#descrv #col-2{
	width:50%;
	float:left;
}
#descrv #col-2 .descr-texte{
	text-align:right;
	display: block;
	color:#ff4701;
}
#col-2 .big-price{
	font-size: 200%;
    color: #3a3a3a;
    text-align: right;
    display: block;
    font-family: 'Montserrat', sans-serif;
	font-weight:700;
}
.indice{
	font-size:12px;
}
.btnTarif{	
	background: #ff7d19;
	border: none;
	display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center !important;
    border: 1px solid #ffffff;
    width: 100%;
    max-width: 354px;
    color: #ffffff;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    line-height: normal;
    padding: 13px 0 13px 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    float: none;
}
.btnTarif span{
	height: auto;
    float: none;
    padding: 0;
    display: inline;
}
.btnTarif span strong{
	font-size: 18px !important;
    color: #ffffff !important;
    display: inline;
}
#modblock form,
#reste_formulaire{
	padding: 20px 20px 3px 20px;
    color: #666666;
	font-size: 14px;
}
#modblock form p span{
	display: inline-block;
    width: 66%;
    min-height: 28px;
    margin: 0 0 1% 0;
    vertical-align: middle;
}
#modblock form label{
	text-align: left;
	display: inline-block;
    padding: 3px 3% 3px 0;
    margin: 0 0 1% 0;
    width: 33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    vertical-align: middle;
} 
#modblock form input{
	width: 100%;
	float: left;
    margin: 0 1% 0 0;
	border: 1px solid #B0A8A8;
    padding: 3px;       
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*font-family: Roboto, Arial, Verdana, "Liberation Sans", "Bitstream Vera", sans-serif;*/
    font-size: 14px;
    color: #666666;
    vertical-align: middle;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
#modblock form input.half{
	width:48%;
}
#modblock form select{
	width: 100%;
	float: left;
    margin: 0 1% 0 0;
	border: 1px solid #B0A8A8;
    padding: 3px;       
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*font-family: Roboto, Arial, Verdana, "Liberation Sans", "Bitstream Vera", sans-serif;*/
    font-size: 14px;
    color: #666666;
    vertical-align: middle;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
#modblock form select.tiers{
	width:32%;
}
#modblock form select.half{
	width:48%;
}
#modblock form select.large{
	width:100%;
}
#modblock form h3{
	margin-top:0;
}
.cond{
	display:block;
	width:100%;
}
#cookieChoiceInfo span{
	font-size:12px;
}
#cookieChoiceInfo a{
	background:#0f194a;
	color:#fff;
	text-decoration:none;
	padding:5px;
	font-size:12px;
}
#cookieChoiceInfo a:hover{
	background:#ff4701;
}
.hp {
    display: none;
}

#toogle{
	display:none;
}
.clr-resp-599{
	display:none;
}




/************* CSS INSCIPTION *********/
	#infosConnexion
	{
		display: none;
	}

	#infosConnexion,.infos_inscription
	{
		color:#F03;
		font-size:12px;
		font-weight:bold;
	}
	.infosLogin
	{
		width: 100%;
		height: 26px;
		float: left;
		margin-top: 5px;

	}
	#panel_loginconnexion
	{
		margin-top: 6px;

	}
/*************  FIN CSS INSCIPTION *********/


.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    top: 20%;
    position: fixed;
    z-index: 99999999;
}

#dialog
{
	display: none;
}
#madaitech{
	float:right;
	width:auto;
	height:auto;
	margin:3px 0;
	text-align:center;
}

.all-range{
	width:100% !important;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1.334em) translateZ(0);
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(1.334em) translateZ(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1.334em) translateZ(0);
    -moz-transform: translateX(1.334em) translateZ(0);
    -ms-transform: translateX(1.334em) translateZ(0);
    -o-transform: translateX(1.334em) translateZ(0);
    transform: translateX(1.334em) translateZ(0);
  }
  100% {
    opacity: 1;
  }
}
.social {
  margin: 10px auto;
}
.social-icon {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #c4c4c4;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 38px;
  padding: 9px 0px;
  color: white;
  margin: 2px;
  /* Color each button differently */
}
.social-icon:nth-child(1) {
  /* Animation */
  -webkit-animation: fadeInRight 0.6s 0.25s forwards;
  animation: fadeInRight 0.6s 0.25s forwards;
  opacity: 0;
  /* Color */
}
.social-icon:nth-child(1):hover, .social-icon:nth-child(1):active, .social-icon:nth-child(1):focus {
  opacity: 1;
  background-color: #5B75A0;
}
.social-icon:nth-child(2) {
  /* Animation */
  -webkit-animation: fadeInRight 0.6s 0.5s forwards;
  animation: fadeInRight 0.6s 0.5s forwards;
  opacity: 0;
  /* Color */
}
.social-icon:nth-child(2):hover, .social-icon:nth-child(2):active, .social-icon:nth-child(2):focus {
  opacity: 1;
  background-color: #00b2af;
}
.social-icon:nth-child(3) {
  /* Animation */
  -webkit-animation: fadeInRight 0.6s 0.75s forwards;
  animation: fadeInRight 0.6s 0.75s forwards;
  opacity: 0;
  /* Color */
}
.social-icon:nth-child(3):hover, .social-icon:nth-child(3):active, .social-icon:nth-child(3):focus {
  opacity: 1;
  background-color: #00a1b2;
}
.social-icon:nth-child(4) {
  /* Animation */
  -webkit-animation: fadeInRight 0.6s 1s forwards;
  animation: fadeInRight 0.6s 1s forwards;
  opacity: 0;
  /* Color */
}
.social-icon:nth-child(4):hover, .social-icon:nth-child(4):active, .social-icon:nth-child(4):focus {
  opacity: 1;
  background-color: #008cb2;
}
.social-icon:nth-child(5) {
  /* Animation */
  -webkit-animation: fadeInRight 0.6s 1.25s forwards;
  animation: fadeInRight 0.6s 1.25s forwards;
  opacity: 0;
  /* Color */
}
.social-icon:nth-child(5):hover, .social-icon:nth-child(5):active, .social-icon:nth-child(5):focus {
  opacity: 1;
  background-color: #0077b2;
}
.social-icon img {
  /*width: 20px;*/
}

/* ============================ */
/* TOOLTIP                      */
/* ============================ */
[data-tooltip] {
  position: relative;
  /* tooltip arrow */
  /* tooltip box */
}
[data-tooltip]:before, [data-tooltip]:after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
  position: absolute;
  left: 50%;
  top: 100%;
  bottom: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
[data-tooltip]:before {
  content: "";
  border-color: #323232;
  border-style: none;
  border: 5px solid transparent;
  border-bottom: 6px solid #323232;
  margin-top: -4px;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: auto;
  height: 22px;
  padding: 11px 11px 0 11px;
  font-size: 13px;
  line-height: 11px;
  white-space: nowrap;
  background-color: #323232;
  color: #ecf0f1;
  margin-top: 7px;
}
[data-tooltip]:hover, [data-tooltip]:focus {
  background-color: transparent;
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
}
/* Social Icons */
#social_side_links {
	position: fixed;
  top: 70px;
  left: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
}

#social_side_links li a {display: block;}

#social_side_links li a img {
	display: block;
	max-width:40px;
  padding: 10px;
  -webkit-transition:  background .2s ease-in-out;
  -moz-transition:  background .2s ease-in-out;
  -o-transition:  background .2s ease-in-out;
  transition:  background .2s ease-in-out;
}

#social_side_links li a:hover img {background: rgba(0, 0, 0, .2);}

#payplace{
	width:100%;
	height:auto;
	background:#e6e6e6;
	border:#C1C1C1 solid 1px;
	border-radius:5px;
	text-align:center;
	font-size:14px;
}
.orange{
	color:#ff4701;
}
.big{
	font-weight:bold;
	font-size:200%;
}
.btn-orange{
	/*width: 100%;*/
    /*height: 26px;*/
    background: #ff4701;
    margin-top: 10px;
    border-radius: 5px;
	color:#fff;
	font-weight:bold;
	border:none;
	text-transform:uppercase;
	font-family:inherit;
	padding:10px 20px;
	cursor:pointer;
}
#payplace form{
	padding-top:0;
}
#payplace ul li{
	text-align:left;
	margin-left:15px;
}
#payplace ul{
	margin-bottom:20px;
}
.margin-b{
	margin-bottom:20px;
	float:left;
}
.custom.home{
	margin-top:30px;
}

