body
{
    background: #326295;
}
.container
{
    width: 100%;
}

#headerAdmin
{
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold;
}
li#logout
{
    float: right;
    margin-top: -9px;
}
#headerAdmin .nav-tabs > li a
{
    color: #fff;
}
#headerAdmin .nav-tabs > li.active a
{
    color:#326295
}
#panel_listMobilsys
{
    background: #fff;
    border-radius: 5px;
    color: #000;
}
#titrePage
{
    color: #fff;
    font-size: 18px;
    margin-top: 10px
}

#bodyPage
{
    color: #fff;
    margin-top: 50px;
}



/**************************** CSS MESSAGES ***************************/
.list-messages
{
    border-bottom: 1px solid #ccc;
    padding: 4px 0 4px 0;
}
.list-messages .nom-prenom
{
    font-weight: bold;
    font-size: 12px;
}
.list-messages .titre-message
{
    font-size: 12px;
}
.list-messages .message
{
 font-size: 11px;
}
/**************************** FIN CSS MESSAGES ***********************/

.btnsup_service,
.btnsup_realisation,
.btnsup_user,
.btnsup_technos
{
    border: 0;
    background: none;
    color: #337ab7
}


/************************ CSS MODAL **************************/
.panelfooter
{
    text-align: center;
}
.modal-dialog
{
    margin-top: 14%;
}